@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
#menuList {
    display: none;
}
#menu-button{
    display: none;
}
.container {
    margin-left: 100px;
    margin-right: 100px;
}

.btn-dark{
    background-color: #000000;
    color: #f4f4f4;
    border: 1px solid #f4f4f4;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px 45px;
    display: inline-block;
    transition: 0.3s ease-in-out;
}
.btn-dark:hover{
    background-color: #f4f4f4;
    color: #000000;
}

.btn-purple{
    background-color: transparent;
    color: #7851A9;
    border: 1px solid #7851A9;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px 45px;
    display: inline-block;
    transition: 0.3s ease-in-out;
}
.btn-purple:hover{
    background-color: #7851A9;
    color: #f4f4f4;
}

/* header */
header {
    padding: 20px 0;
    background-color: #7851A9;
}
.logo {
    text-decoration: none;
    color: #f4f4f4;
}
.content-nav {
    display: inline-block;
    margin-right: 10px;
}
ul {
    text-decoration: none;
}
.nav-link {
    color: #f4f4f4;
    text-decoration: none;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* header */

/* index style */
.info {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../static/code-screen.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    height: 100vh;
    color: #ffffff;
}
.title-info {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}
.text-info {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
}

.last-news{
    height:90vh;
    background-color: #f4f4f4;
    padding-top: 70px;
}
.title-news-section{
    color: #7851A9;
    margin-bottom: 30px;
    font-size: 40px;
}
.news-row {
    display: flex;
    align-items: center;
}

.news-card {
    width: 19%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 4px 4px 32px rgba(0, 0, 0, 0.4);
    margin: 10px;
    padding: 20px;
}

.news-img {
    text-align: center;
}
.news-img img {
    width: 100%;
    object-fit: cover;
}
.news-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}
.news-date {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
}
/* index style */


/* news-detail */

.news-detail {
    background-color: #f4f4f4;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.news-detail .button-primary {
    margin-bottom: 20px;
}
.news-detail-img img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 30px;
}
.news-detail-description {
    font-size: 20px;
    margin-bottom: 10px;
}
.news-detail-date {
    font-size: 18px;
    font-weight: 800;
}
/* news-detail */


/* news style */
.news {
    min-height:100vh;
    background-color: #f4f4f4;
    padding-top: 90px;
}
/* news style */

/* about */
.about{
    background-color: #f4f4f4;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.about-img img{
    width: 50%;
}
.about-title{
    margin-top: 20px;
    font-size: 40px;
}
.about-text {
    margin-top: 20px;
    font-size: 20px;
}
/* about */

/* footer */
.footer {
    padding: 50px 0;
    background-color:  #7851A9;
    color:  #f4f4f4;
    text-align: center;
}
/* footer */


